<?xml version="1.0" ?>
<model>
  <name>restaurant_env</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Balaji</name>
    <email>bala779g@gmail.com</email>
  </author>
  <description>
    Restaurant environment for mobile robot simulation
  </description>
</model>
